chromium-e*
chromium-s*
chromium-h*
chromium-p*


# shell symlinks
remove-ja*
remove-ff*
set-nftable-rules
transcode

shell/remove-ja*
shell/remove-ff*
shell/set-nftable-rules.sh
shell/transcode.sh

python/utils/private.py

python/tools/__pycache__
python/utils/__pycache__
python/__pycache__

