# shell symlinks
remove-ja*
remove-ff*
set-nftable-rules
transcode

shell/remove-ja*
shell/remove-ff*
shell/set-nftable-rules.sh
shell/transcode.sh

# python
__pycache__/

# bin/
bin/

# meson subprojects
subprojects/packagecache/
subprojects/.wraplock

# configs
python/private/*.py

# cxx
cxx/build
